<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Profile name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.profile_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav>
  <ul class='pagination'>
    <li class="<%= 'disabled' if @current_page <= 0 %>">
      <%= link_to('Previous', (users_path(page: @current_page - 1) if @current_page > 0), :'aria-label' => 'Previous') %>
    </li>

    <% ((@current_page - 2)..(@current_page + 2)).each do |page_num| %>
      <% if page_num == @current_page %>
        <li class='active'>
        <% elsif page_num < 0 %>
        <li class="disabled">
        <% else %>
        <li>
        <% end %>

          <% if page_num < 0 %>
          <%= link_to('*', '#') %>
          <% else %>
      <%= link_to(page_num, users_path(page: page_num)) %>
    <% end %>
  </li>
  <% end %>

    <li class="<%= 'disabled' if @users.length > 0 %>">
    <%= link_to('Next >', (users_path(page: @current_page + 1) if @users.length > 0), :'aria-label' => 'Next')  %>
    </li>

</ul>
</nav>

