<%= simple_form_for([current_user, @image]), multipart: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :gram %>
  </div>
  <div class="form-inputs">
    <%= f.input :caption %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
