<!DOCTYPE html>
<html>
<head>
  <title>TeamProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p style='color: green;'><%= notice %></p>
      <p style='color: red;'><%= alert %></p>

      <h1 style="align: center;">WE NEED A NAME FOR THE APPLICATION</h1>

      <nav>
        <%= link_to 'HOME', users_path %> |
        <%= link_to 'NEW USER', new_user_path %>
      </nav>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
